html {
	font-family: 'Arial', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}


.shape-test {
	width: 100%;
}

.trapezoid {
	z-index: 4;
	right: -100px;
	top: 50%;
	position: absolute;
	background-color: white;
	width: 500px;
	height: 200px;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
}

.curved {
	z-index: 4;
	position: absolute;
	background-color: white;
	height: 200px;
	width: 400px;
	left: 0;
	top: 50%;
}


.curved:before {
	position: absolute;
	z-index: 6;
	content:"";
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: white;
	left: 300px;
	top: (50%-100px);
}

.hero {
	display: block;
	text-align: center;
	width: 100%;
	margin-bottom: 2em;
	padding: 0;
	overflow: hidden;
}

.opacity {
	z-index: 3;
	background-color: black;
	opacity: .3;
	height: 100%;
	width: 100%;
	position: absolute;
}

.left-img {
	background-image: url("../img/cmh.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	width: 50%;
	float: left;
	overflow: hidden;
	background-size: cover;
	margin: 0;
	padding: 0;
}

.right-img {
	background-image: url("../img/cwm.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	width: 50%;
	float: left;
	overflow: hidden;
	background-size: cover;
	margin: 0;
	padding: 0;
}


.text-container {
	padding: 1em 1em 2em 1em;
	position: absolute;
	text-align: center;
	top: calc(50% + 1.25em);
	right: 0;
	z-index: 5;
	color: #4A4A4A;
}


.text-container2 {
	padding: 1em 1em 2em 1em;
	position: absolute;
	text-align: center;
	top: calc(50% + 1.25em);
	left: 4em;
	z-index: 5;
	color: #4A4A4A;
}

.big-white {
	opacity: 0;
	font-size: 4rem;
	font-weight: bolder;
	line-height: 1.25em;
	padding: 0;
	margin: 0;
	-webkit-transform: translateY(15px);
    transform: translateY(15px);
    -webkit-animation: bottom-in .5s linear forwards;
    animation: bottom-in .5s linear forwards;
}


@-webkit-keyframes bottom-in {

    0% {
    	opacity: 0;
        -webkit-transform: translateY(15px);
        }

    80% {
    	opacity: .5;
        transform: none;
    }

    100% {
    	opacity: 1;
        -webkit-transform: none;
    }

}

@keyframes bottom-in {

    0% {
    	opacity: 0;
        transform: translateY(15px);
        }

    80% {
    	opacity: .5;
        transform: none;
    }

    100% {
    	opacity: 1;
        transform: none;
    }
}

.fade-in {
	opacity: 0;
	-webkit-animation: fade-in 1s linear forwards;
	animation: fade-in 1s linear forwards;
}

@-webkit-keyframes fade-in {

    0% {
    	opacity: 0;
        }

    100% {
    	opacity: 1;
    }

}

@keyframes fade-in {

    0% {
    	opacity: 0;
        }

    100% {
    	opacity: 1;
    }
}


.date {
	font-size: 2rem;
	font-weight: bolder;
	line-height: 1.25em;
	padding-left: 2em;
	padding-top: 1em;
	margin: 0;
}



.med-white {
	font-size: 1.25em;
	line-height: 0;
	padding: 0;
	margin: 0;
	font-weight: normal;
	opacity: 0;
	-webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-animation: bottom-in .75s .5s linear forwards;
    animation: bottom-in .75s .5s linear forwards;

}

.em-white {
	font-size: 1.25rem;
	display: inline;
	font-style: italic;
	padding: 0;
	margin: 0;
	opacity: 0;
	-webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-animation: bottom-in .75s .5s linear forwards;
    animation: bottom-in .75s .5s linear forwards;
}

.sml-white {
	font-size: 1rem;
	display: inline;
	font-style: bold;
	padding: 0;
	margin: 0;
	opacity: 0;
	-webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-animation: bottom-in .75s .5s linear forwards;
    animation: bottom-in .75s .5s linear forwards;
}

.arrow-down {
	opacity: .5;
	position: absolute;
	bottom: 10%;
	left: calc(50% - 20px);
	z-index: 4;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid white;
}


.bounce {
    -webkit-animation: bounce 1s linear alternate infinite;
    animation: bounce 1s linear alternate infinite;
}

@-webkit-keyframes bounce {

    0% {
        -webkit-transform: translateY(20px)
    }

    100% {
        -webkit-transform: translateY(30px)
    }
}

@keyframes bounce {

    0% {
        transform: translateY(20px)
    }

    100% {
        transform: translateY(30px)
    }
}


