/*For photographic images placed with the img tag */

.img-example-float {
	height: 150px;
	width: auto;
	float: left;
}

.img-example-block {
	height: 150px;
	width: auto;
}

.img-do {
	color: green;
	width: 100%;
	font-weight: bold;
	padding: 0;
	text-align: left;
	top: 0px;
	display: inline-block;
}

.side-text {
	border: 1px solid #D8D8D8;
	display: inline-block;
	padding: 1em;
	float: right;
	margin-bottom: 2em;
	float: left;
	height: 150px;
}

.img-dont {
	color: red;
	width: 100%;
	font-weight: bold;
	padding: 0;
	text-align: left;
	top: 0px;
	position: relative;
	display: inline-block;
}

/* For pure CSS graphics */

.do-dont {
	display: block;
	width: 100%;
	margin-top: 3em;
	margin-bottom: 1em;
}

.do {
	color: green;
	font-weight: bold;
	padding: 0;
	text-align: left;
	top: -40px;
	position: relative;
}

.dont {
	color: red;
	font-weight: bold;
	padding: 0;
	text-align: left;
	top: -40px;
	position: relative;
}

/* Section: Style, Intro - Flat Design */

.plain-box {
	background: #8E908F;
	height: 150px;
	width: 150px;
	display: inline-block;
	margin-bottom: 2.5em;
}

.shadow-box {
	background-color: #8E908F;
	height: 150px;
	width: 150px;
	display: inline-block;
	box-shadow: 5px 5px 2px #4A4A4A;
	margin-bottom: 2.5em;
}

/* Section: Style, Intro - Gradient */

.solid-box {
	background: #8E908F;
	height: 150px;
	width: 150px;
	display: inline-block;
	margin-bottom: 2.5em;
}

.gradient-box {
	height: 150px;
	width: 150px;
	display: inline-block;
	  background: -webkit-linear-gradient(#8E908F, #4A4A4A); /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(#8E908F, #4A4A4A); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(#8E908F, #4A4A4A); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(#8E908F, #4A4A4A); /* Standard syntax */
}

/* Section: Style, Contrast */

.box-outline {
	background: white;
	border: 1px solid #8E908F;
	height: 150px;
	width: 150px;
	display: inline-block;
	margin-bottom: 2.5em;
	text-align: center;
	position: relative;
}

.inner-box-red {
	background: #EB1829;
	height: 50px;
	width: 50px;
	position: absolute;
	right: calc(75px - 25px);
	top: calc(75px - 25px);
}

.box-grey {
	background: #8E908F;
	height: 150px;
	width: 150px;
	display: inline-block;
	margin-bottom: 2.5em;
	text-align: center;
	position: relative;

}

.box-grey2 {
	background: #4A4A4A;
	height: 150px;
	width: 150px;
	display: inline-block;
	margin-bottom: 2.5em;
	text-align: center;
	position: relative;
}

.inner-box-green {
	background: #049E3C;
	height: 50px;
	width: 50px;
	position: absolute;
	right: calc(75px - 25px);
	top: calc(75px - 25px);
}

/* This styles the do and don't for button contrast */

.rectangle-white {
	background: white;
	border: 1px solid #E5E5E5;
	height: 50px;
	width: 150px;
	display: inline-block;
	margin-bottom: 2.5em;
	text-align: center;
	position: relative;
}

.dark-grey-text {
	color: #4A4A4A;
	position: absolute;
	top: 5px;
	left: calc(75px - 25px);
}

.rectangle-red {
	background: #EB1829;
	border: 1px solid #EB1829;
	height: 50px;
	width: 150px;
	display: inline-block;
	margin-bottom: 2.5em;
	text-align: center;
	position: relative;
}

.white-text {
	color: white;
	position: absolute;
	top: 5px;
	left: calc(75px - 25px);
}

.red-text {
	color: #EB1829;
	position: absolute;
	top: 5px;
	left: calc(75px - 25px);
}

.rectangle-green {
	background: #049E3C;
	border: 1px solid #049E3C;
	height: 50px;
	width: 150px;
	display: inline-block;
	margin-bottom: 2.5em;
	text-align: center;
	position: relative;
}

.rectangle-grey {
	background: #4A4A4A;
	border: 1px solid #4A4A4A;
	height: 50px;
	width: 150px;
	display: inline-block;
	margin-bottom: 2.5em;
	text-align: center;
	position: relative;
}

.light-grey-text {
	color: #D8D8D8;
	position: absolute;
	top: 5px;
	left: calc(75px - 25px);
}

.dark-grey {
	color: #4A4A4A;
}

.brand-grey {
	color: #8E908F;
}
