@charset "UTF-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
	text-decoration: none;
}

.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 80px;
 	width: 100%;
 	background-color: yellow;
 	border-bottom: 1px solid #4E4E4E;;
}

.ham-btn {

}

.logos {

}

.nav-bar {
	position: fixed;
	overflow: auto;
	width: 20%;
	height: 100%;
	background-color: #4A4A4A;
	top: 80px;
	left: 0;

}

.nav {
 	width: 100%;
}

.nav ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav ul li {
	border-bottom: 1px solid #4E4E4E;
	text-align: left;
	width: 100%;
	margin-left: 1rem;
	padding: 5px 0 5px 0;
}

.nav ul li a {
	display: block;
	text-decoration: none;
	color: #9B9B9B;
	font-size: .75rem;
	line-height: 3em;
	padding-left: 1rem;
}

.nav ul li a:hover {
	color: white;
	width: 100%;
}

.nav ul li ul {
	width: 100%;
}

.nav ul li ul li {
	width: 100%;
	border-bottom: none;
}

.nav ul li ul li a {
	display: block;
	width: 100%;
	background-color: #4A4A4A;
	padding-left: 2rem;
}

.nav ul li ul li a:hover {
	color: white;
	width: 100%;
}

.nav-info {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	margin-left: 1rem;
	border-top: 1px solid #4E4E4E;
	font-size: .75rem;
	line-height: 1rem;
	padding: 1rem 1rem 2rem 1rem;
}

.nav-info p {
	color: #9B9B9B;
}




@media only screen and (min-width: 25em) {
  .nav-bar {
	width: 70%;
}
    
}


@media only screen and (min-width: 38em) {
 
  .nav-bar {
	width: 35%;
}

}


@media only screen and (min-width: 60em) {

  .nav-bar {
	width: 20%;
}

}
