@charset "UTF-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}

a {
	text-decoration: none;
}

button:focus {
	outline: none;
}

.top-bar {
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	height: 80px;
 	width: 100%;
 	background-color: white;
}

h1 {
	font-size: 2em;
	font-family: "Helvetica", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #4A4A4A;
}

h2 {
	font-size: 1.25em;
	font-family: "Helvetica", sans-serif;
	color: #4A4A4A;
	font-weight: bold;
	margin-bottom: 0;
}

h3 {
	font-size: 1em;
	font-family: "Helvetica", sans-serif;
	color: #4A4A4A;
	font-weight: bold;
	font-style: italic;
	margin-top: 1.5em;
	margin-bottom: 0;
}

p {
	margin-top: 0.5em;
	font-size: 1em;
	line-height: 1.5em;
}

li {
	padding: .25em 0;
	line-height: 1.5em;
}

.column {
	margin: 140px 20% 140px 25%;
}

.tab1 {
	margin-left: 5%;
}

.push-none-bottom {
	margin-bottom: 0;
}

.push-less-top {
	margin-top: .5em;
}

.bold {
	font-weight: bold;
	color: #4A4A4A;
}